@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansLight.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansMedium.otf) format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansBold.otf) format("opentype");
    font-weight: bold;
}

body {
    font-family: GmarketSans;
    font-weight: normal;
}

button.active {
    color: #EB6E34;
}

button.active:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #EB6E34;
}

@media (max-width: 1023px) {
    button.active:after {
        left: unset;
        right: -15px;
        top: 0;
        bottom: 0;
    }
}

li.active {
    transform: scale(1.2);
}