@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansLight.otf) format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansMedium.otf) format("opentype");
    font-weight: normal;
}

@font-face {
    font-family: 'GmarketSans';
    src: url(../font/GmarketSansBold.otf) format("opentype");
    font-weight: bold;
}

body {
    font-family: GmarketSans;
    font-weight: normal;
}